<a href="https://colab.research.google.com/github/geethaammu/DataScience/blob/main/DS_ex_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
wnba = pd.read_csv("/content/drive/MyDrive/IRIS.csv")
wnba.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [ ]:
freq_dis_sl = wnba['sepal_length'].value_counts()
freq_dis_sl

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length, dtype: int64

In [ ]:
freq_dis_pl = wnba['petal_length'].value_counts()
freq_dis_pl

1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: petal_length, dtype: int64

In [ ]:
freq_dis_pl = wnba['petal_length'].value_counts().sort_index()
freq_dis_pl

1.0     1
1.1     1
1.2     2
1.3     7
1.4    12
1.5    14
1.6     7
1.7     4
1.9     2
3.0     1
3.3     2
3.5     2
3.6     1
3.7     1
3.8     1
3.9     3
4.0     5
4.1     3
4.2     4
4.3     2
4.4     4
4.5     8
4.6     3
4.7     5
4.8     4
4.9     5
5.0     4
5.1     8
5.2     2
5.3     2
5.4     2
5.5     3
5.6     6
5.7     3
5.8     3
5.9     2
6.0     2
6.1     3
6.3     1
6.4     1
6.6     1
6.7     2
6.9     1
Name: petal_length, dtype: int64

In [ ]:
percentages_pw = wnba['petal_width'].value_counts(normalize=True).sort_index() * 100
percentages_pw

0.1     4.000000
0.2    18.666667
0.3     4.666667
0.4     4.666667
0.5     0.666667
0.6     0.666667
1.0     4.666667
1.1     2.000000
1.2     3.333333
1.3     8.666667
1.4     5.333333
1.5     8.000000
1.6     2.666667
1.7     1.333333
1.8     8.000000
1.9     3.333333
2.0     4.000000
2.1     4.000000
2.2     2.000000
2.3     5.333333
2.4     2.000000
2.5     2.000000
Name: petal_width, dtype: float64

In [ ]:
from scipy.stats import percentileofscore
percentile_of_25 = percentileofscore(wnba['sepal_width'], 25, kind = 'weak')
percentile_of_25

100.0

In [ ]:
wnba.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
wnba['sepal_length'].mean()

5.843333333333334

In [ ]:
wnba['sepal_width'].mean()

3.0540000000000003

In [ ]:
wnba['petal_length'].mean()

3.758666666666666

In [ ]:
wnba['petal_width'].mean()

1.1986666666666668

In [ ]:
wnba['sepal_length'].median()

5.8

In [ ]:
wnba['sepal_width'].median()

3.0

In [ ]:
wnba['petal_length'].median()

4.35

In [ ]:
wnba['petal_width'].median()

1.3

In [ ]:
wnba['sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [ ]:
wnba['sepal_width'].mode()

0    3.0
Name: sepal_width, dtype: float64

In [ ]:
wnba['petal_length'].mode()

0    1.5
Name: petal_length, dtype: float64

In [ ]:
wnba['petal_width'].mode()

0    0.2
Name: petal_width, dtype: float64

In [ ]:
wnba['sepal_length'].std()

0.828066127977863

In [ ]:
wnba['sepal_width'].std()

0.4335943113621737

In [ ]:
wnba['petal_length'].std()

1.7644204199522626

In [ ]:
wnba['petal_width'].std()

0.7631607417008411

In [ ]:
# standard deviation 
# ddof = 0
# divded by n 
wnba['petal_length'].std(ddof=0)

1.7585291834055212

In [ ]:
# variance with ddof = 0
# sum((x_i - x_mean)^2) / n
wnba['petal_width'].var(ddof=0)

0.5785315555555555